$subtly-padding: 1.8rem;
$subtly-indent: 0.4rem;
$subtly-underline-space: .3em;
$subtly-transition-duration: .5s;
$subtly-transition-timing: cubic-bezier(.2,0,.2,1);

$subtly-color-background: transparent;
$subtly-color-borders: linear-gradient(90deg, transparent, #4e74fb 20%, #a00210 80%, transparent);
$subtly-color-sub-borders: linear-gradient(90deg, transparent 10%, #9ea1ba 60%, transparent);
$subtly-color-text: black;
$subtly-color-highlight: #7999fb;
$subtly-color-indent-line: linear-gradient(#7999fb, #440faa, #7999fb 90%, transparent); 
$subtly-color-arrow: #7999fb;
$subtly-color-accent: #f01241;
$subtly-color-arrow-opened: linear-gradient(45deg, $subtly-color-arrow, $subtly-color-accent);


[data-subtly] {
	margin: 0;
  padding: 0;
  list-style: none;
	width: 100%;
	background-color: $subtly-color-background;
	color: $subtly-color-text;

	li {
		padding-left: $subtly-indent; 

		& > a {
			padding: $subtly-padding 0;

			&:active {
				border: none;
				outline: none;
				box-shadow: none;
			}
		}
	}

	& > li {
		position: relative;

		&:not(:last-child):after {
			content: '';
			position: absolute;
			left: -5%;
			right: -5%;
			bottom: 0;
			height: 1px;
			background-image: $subtly-color-borders;
			transform-origin: 0;
			animation: line-grow $subtly-transition-duration $subtly-transition-timing;
		}
	}
	
	a {
		font-size: 1.8rem;
		color: currentColor;

		&.has-href {
			color: $subtly-color-highlight;
		}
	}

	li > a {
		display: block;

		&:hover {
			background-image: linear-gradient(180deg, transparent 25%, rgba(255, 255, 255, 0.05) 66%, rgba(255, 255, 255, 0.1))
		}
	}
	
	& > li ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-left: $subtly-indent;
		overflow: hidden;
		transition: max-height $subtly-transition-duration $subtly-transition-timing;
	
		li {
			& > a {
				display: flex;
				padding: $subtly-padding 0;
			}

			&:first-child { margin-top: .8rem; }

			& > ul { transition: all .3s ease; } 	
		}
	}

	li:not(.has-sub) > a {
		padding-left: $subtly-indent;
		margin-left: -$subtly-indent;
	}
	
	.has-sub {
		padding-bottom: calc(#{$subtly-padding} - #{$subtly-underline-space});

		& > a {
			position: relative;
			display: block;
			padding-right: 4rem;
	
			&:before, &:after {
				content: '';
				position: absolute;
				top: 50%;
				right: 3%;
				display: block;
				width: .66em;
				height: .66em;
				transform: translateY(-75%) rotate(-45deg);
				transform-origin: 50%;
				transition: transform $subtly-transition-duration $subtly-transition-timing;
				border: 2px solid transparent;
			}

			&:before {
				border-left-color: $subtly-color-highlight;
			}

			&:after {
				border-bottom-color: $subtly-color-highlight;
			}

			& ~ ul {
				margin-top: calc(-#{$subtly-padding} + #{$subtly-underline-space});
				position: relative;

				&:before {
					content: '';
					position: absolute;
					left: 0;
					top: 0;
					height: 100%;
					width: 1px;
					background: $subtly-color-indent-line;
					transform-origin: 0 0;
					transition: transform 2 * $subtly-transition-duration $subtly-transition-timing;
					transform: scale(0);
				}

				& > li:not(:last-child) {
					position: relative;

					&:after {
						content: '';
						position: absolute;
						left: 0;
						right: 0;
						bottom: 0;
						height: 1px;
						background: $subtly-color-sub-borders;
						transform-origin: 0;
						opacity: .66;
						transition: transform 2 * $subtly-transition-duration $subtly-transition-timing;
						transform: scale(0);
					}
				}
			}
		}

		& > a > a {
			position: relative;
			display: inline;
	
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				bottom: -$subtly-underline-space;
				height: 1px;
				background: currentColor;
				transform-origin: 0;
				transition: transform $subtly-transition-duration $subtly-transition-timing;
				transform: scale(0);
			}
		}

		&.is-animated {
			& > a {
				&:before, &:after {
					animation: line-grow .3s both;
				}
	
				&:after {
					animation-delay: .3s;
				}
			}
		}
	
		&.is-opened {
			& > a {
				&:before, &:after { 
					transform: translateY(-20%) rotate(135deg);
				}

				&:before { border-left-color: $subtly-color-accent }
				&:after { border-bottom-color: $subtly-color-accent }

				& ~ ul {
					&:before { transform: scale(1); }

					& > li:after { transform: scale(1); }
				} 
			}

			& > a > a {
				&:before { 
					transform: scale(1); 
					background-color: $subtly-color-highlight
				}
			}
		}
	}
}

@keyframes line-grow {
	0% { transform: translateY(-50%) rotate(-45deg) scale(0); }

	100% { transform: translateY(-50%) rotate(-45deg) scale(1); }
}
