[data-subtly] {
	margin: 0;
  	padding: 0;
  	list-style: none;
	width: 100%;
	padding: 1rem 2rem 2rem;
	box-shadow: 0 .1rem 5rem 0 rgba(black, 0.8);
	background-color: white;
	color: teal;
	
	& > li {
		border-top: 1px solid gray;
		padding: 1.8rem 0;
		position: relative;
	
		&:first-child {
			border-top: none;
		}
	}
	
	a {
		font-size: 1.8rem;
		color: currentColor;
	}
	
	& > li ul {
		margin: 0;
		padding: 0;
		list-style: none;
		padding-left: 1rem;
		overflow: hidden;
		transition: all .3s ease;
	
		li {
			padding-top: 1.7rem;
	
			& > ul {
				transition: all .3s ease;
			} 	
		}
	}
	
	.has-sub {
		& > a {
			position: relative;
			display: block;
			padding-right: 4rem;
			color: black;
	
			&::after {
				content: '';
				position: absolute;
				top: 0%;
				right: 3%;
				display: block;
				width: 1rem;
				height: 1rem;
				border-left: 1px solid black;
				border-bottom: 1px solid black;
				transform: rotate(-45deg);
				transfrom-origin: 50%;
				transition: all .3s ease;
			}
		}
	
		& > a > a {
			position: relative;
			display: inline;
			// box-decoration-break: clone;
	
			&:before {
				content: '';
				position: absolute;
				left: 0;
				right: 100%;
				bottom: -3%;
				height: 2px;
				background: currentColor;
				transform-origin: 0;
				transition: all .2s ease;
			}
		}
		
	
		&.is-opened {
			& > a::after {
				top: 27%;
				transform: rotate(135deg);
			}
	
			& > a > a::before {
				right: 0;
			}
	
			& > a > a {
				color: teal;
			}
		}
	}
}
